

html {
  height: 100%;
}

body {
	background: white;
	font-size: 16px;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}


.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
float:center;
width:100%;
height:18%;
position:relative;

}
.box1 {

   background: url('0.png') no-repeat;
}
.box2 {

   background: url('1.png')no-repeat;
}
.box3 {

   background: url('2.png')no-repeat;
}
.box4 {

   background: url('3.png')no-repeat;
}
.box5 {

   background: url('4.png')no-repeat;
}
.box6 {

   background: url('5.png')no-repeat;
}
.box7 {

   background: url('6.png')no-repeat;
}



.box9, .box10{
float:center;
width:100%;
height:30%;
position:relative;

}

.box9 {

   background: url('9.png')no-repeat;
}
.box10 {

   background: url('10.png')no-repeat;
}




.box11 {
float:center;
width:100%;
height:25%;
position:absolute;

}


.box11 {

   background: url('11.png')no-repeat;
}



