body {
	background: black;
	color: white;
	font-size: 24px;
}

.star {
	width: 500px;
	height: 500px;
	background: url('grey1.jpg');
}


/* Media Queries */

@media screen and (max-width: 1024px) {

  .one {
  	display: none;
  }

  .star {
  	background: url('grey2.jpg');
  }

}

@media screen and (max-width: 768px) {

  .two {
  	display: none;
  }

  .horse {
  	background: url('grey3.jpg');
  }

}

@media screen and (max-width: 600px) {

  .three {
  	display: none;
  }

  .horse {
  	background: url('grey4.gif');
  }

}

@media screen and (max-width: 480px) {
  
  .four {
  	display: none;
  }

  .horse {
  	background: url('grey5.jpg');
  }

}
