.container {
color: grey;
font-size: 50px;
letter-spacing: 1000px;
  text-align: right;
  background-color: gold;
}

.content {

	width: 500px;
	margin:0 auto;
	background: white;
	letter-spacing: 0.5px;
font-size:25px;
position: absolute;
  text-align: right;
}

