
.container {
	width: 1500px;
	margin:0 auto;
	border: 10px solid red;
	position: relative;
	font-size:100px;
	text-align:right;
	letter-spacing:0px;
font-family: 'Pacifico', cursive;

}
.content {

	width: 500px;
	margin:0 auto;
	background: white;
	letter-spacing: 0.5px;
font-size:25px;
position: relative;
  text-align: center;
}


