
.container {
	width: 2000px;
	margin:0 auto;
	padding: 10px;
	border: 2px dashed grey;
	position: absolute;
	font-size:200px;
	text-align:center;
	letter-spacing:0px;
	font-family: 'Indie Flower', cursive;

}
.content {

	width: 1000px;
	margin:0 auto;
	background: white;
	letter-spacing: 0.5px;
font-size:25px;
position: relative;
  text-align: center;
}


